<!-- Pie de página -->
<footer class="footer footer-distributed">
    <div class="footer-left">
      <table>
        <tr>
          <td><img src="/static/img/leon_transp.png" alt="logo" style="margin: 0 auto; display:block; width:50px;height:50px"/></td> 
          <td><h3>Somos <span>DPI Inversiones</span></h3></td>
        </tr>
      </table>
      <p class="footer-links">
        <a href="/">Inicio</a>
        ·
        <a href="#planes">Planes</a>
        ·
        <a href="#sobre-nosotros">Sobre nosotros</a>
        ·
        <a href="#faq">FAQ</a>
        ·
        <a href="#contacto">Contactos</a>
        ·
        <a href="#">Lenguaje</a>
        ·
        <a href="#ingreso">Login</a>
        ·
        <a href="/registrar_usuario">Registrarse</a>
      </p>
      <p class="footer-company-name">DPI Inversiones © <span id="year"><script>document.getElementById('year').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> - Todos los derechos reservados</p>
      <div class="footer-icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
    <div class="footer-right">     
      <form action="#" method="post">
        <p>Suscribite a nuestro <span>newsletter</span></p>
        <input type="text" name="email" placeholder="Email">
        <!-- <textarea name="message" placeholder="Mensaje"></textarea> -->
        <button>Enviar</button>
      </form>
    </div>
  </footer>